<a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
<form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
    {% csrf_token %}
</form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Home</title>
</head>
<body>
    <h1>Welcome, {{ request.user.username }}</h1>
    <h2>Select a user to chat with:</h2>
   

    <ul>
        {% for user in users %}
            <li><a href="{% url 'chat' user.username %}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
